* {
    margin: 0;
}


a{
    text-decoration: none;
    color:#000000 ;
}


a:hover{
    background-color: #fff;
    opacity: 80%;    
    transition: 0.5s;

}

li:hover{
    background-color: #fff;
    opacity: 80%;    
    transition: 0.5s;

}


li{
    border: 1px solid rgb(236, 236, 236);

}


html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer,
.push {
    height: 4em;
}

body {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style: none;
    height: 862px;
    list-style: none;
    padding: 10px;
    background: #fff;
    margin-top: 60px;
}

#conteudo {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: auto;
}

#header {
    background-image: url("../imgs/back.png");
    background-color: #3e4c9e;
    position: fixed;
    top: 0;
    left: 0;
    height: 48px;
    width: 100%;
    z-index: 5000;
    margin: 0;
}


p .logo{
    width: 181px;
    height: 48px;
    position:absolute;
    left:46%;
}

.logo {
    width: 181px;
    height: 48px;
}

#cabecalho {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#Destaque {
    float: left;
    width: 480px;
}

#Destaque li strong {
    font-size: 35px;
    margin: 0;
    padding: 0 0 20px 0;
    font-size: 32px;
    color: #000;
    font-weight: bold;
}

#Destaque img {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

#Destaque li {
    width: 477px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 480px;
    grid-template-rows: 300px 300px 200px;
    grid-template-areas: "image""text";
    border-radius: 18px;
    background: white;
    box-shadow: 0px 4.5px 14px rgba(0, 0, 0, 0.1);
    font-family: roboto;
    text-align: center;
    height: 542px;
}

#Destaque-secundario {
    float: left;
    width: 260px;
    height: 550px;
}

#Destaque-secundario img {
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#Destaque-secundario strong {
    margin: 0;
    padding: 0 0 20px 0;
    color: #000;
    font-weight: bold;
}

#Destaque-secundario li {
    width: 230px;
    height: 250px;
    margin-left: 20px;
    overflow: hidden;
    grid-template-columns: 480px;
    grid-template-rows: 100px 100px 50px;
    grid-template-areas: "image""text";
    border-radius: 18px;
    background: white;
    box-shadow: 0px 4.5px 14px rgba(0, 0, 0, 0.1);
    font-family: roboto;
    text-align: center;
    margin-bottom: 40px;
    display: block;
}

#Destaque-secundario_2 {
    float: left;
    width: 260px;
    height: 550px;
}

#Destaque-secundario_2 img {
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#Destaque-secundario_2 strong {
    margin: 0;
    padding: 0 0 20px 0;
    color: #000;
    font-weight: bold;
}

#Destaque-secundario_2 li {
    width: 230px;
    height: 250px;
    margin-left: 8px;
    display: block;
    overflow: hidden;
    grid-template-columns: 480px;
    grid-template-rows: 100px 100px 50px;
    grid-template-areas: "image""text";
    border-radius: 18px;
    background: white;
    box-shadow: 0px 4.5px 14px rgba(0, 0, 0, 0.1);
    font-family: roboto;
    text-align: center;
    margin-bottom: 40px;
}

#Destaque_Noticias {
    float: left;
    width: 480px;
    margin-top: 10px;
}

#Destaque_Noticias strong {
    font-size: 35px;
    margin: 0;
    padding: 0 0 20px 0;
    color: #000;
    font-weight: bold;
}

#Destaque_Noticias img {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

#Destaque_Noticias li {
    width: 477px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 480px;
    grid-template-rows: 300px 300px 200px;
    grid-template-areas: "image""text";
    border-radius: 18px;
    background: white;
    box-shadow: 0px 4.5px 14px rgba(0, 0, 0, 0.1);
    font-family: roboto;
    text-align: center;
    height: 542px;
}

#Destaque-secundario_Noticias {
    float: left;
    width: 260px;
    height: 550px;
    margin-top: 10px;
}

#Destaque-secundario_Noticias img {
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#Destaque-secundario_Noticias strong {
    margin: 0;
    padding: 0 0 20px 0;
    color: #000;
    font-weight: bold;
}

#Destaque-secundario_Noticias li {
    width: 230px;
    height: 250px;
    margin-left: 20px;
    display: block;
    overflow: hidden;
    grid-template-columns: 480px;
    grid-template-rows: 100px 100px 50px;
    grid-template-areas: "image""text";
    border-radius: 18px;
    background: white;
    box-shadow: 0px 4.5px 14px rgba(0, 0, 0, 0.1);
    font-family: roboto;
    text-align: center;
    margin-bottom: 40px;
}

#Destaque-secundario_2_Noticias {
    float: left;
    width: 260px;
    height: 550px;
    margin-top: 10px;
}

#Destaque-secundario_2_Noticias img {
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#Destaque-secundario_2_Noticias strong {
    margin: 0px;
    padding: 0 0 20px 0;
    color: #000;
    font-weight: bold;
}

#Destaque-secundario_2_Noticias li {
    width: 230px;
    height: 250px;
    margin-left: 8px;
    display: block;
    overflow: hidden;
    grid-template-columns: 480px;
    grid-template-rows: 100px 100px 50px;
    grid-template-areas: "image""text";
    border-radius: 18px;
    background: white;
    box-shadow: 0px 4.5px 14px rgba(0, 0, 0, 0.1);
    font-family: roboto;
    text-align: center;
    margin-bottom: 40px;
}

ul#Destaque3 {
    float: left;
    height: 220px;
    padding: 0;
    margin-right: auto;
}

#Destaque3 li {
    width: 450px;
    height: 200px;
    max-height: 200px;
    display: block;
    border-left: solid 20px #032781;
    border-radius: 18px;
    box-shadow: 0px 4.5px 14px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 5px;
    grid-template-areas: "photo info location price""expertise expertise expertise price";
    grid-template-columns: 25% 1fr 1fr 1fr;
    transition: all 0.2s ease-out;
}

#Destaque3 img {
    width: 200px;
    height: 100%;
    float: left;
    transition: all 0.3s ease-out;
}

#Destaque3 strong {
    font-weight: regular;
}

ul#Destaque3_2 {
    float: left;
    width: 500px;
    height: 220px;
    margin-left: 25px;
    padding: 0;
    margin-right: auto;
}

#Destaque3_2 li {
    width: 450px;
    height: 200px;
    margin: 2px;
    max-height: 200px;
    display: block;
    border-left: solid 20px #032781;
    border-radius: 18px;
    box-shadow: 0px 4.5px 14px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 5px;
    grid-template-areas: "photo info location price""expertise expertise expertise price";
    grid-template-columns: 25% 1fr 1fr 1fr;
    transition: all 0.2s ease-out;
}

#Destaque3_2 img {
    width: 200px;
    height: 100%;
    float: left;
    transition: all 0.3s ease-out;
}

ul {
    list-style: none;
    float: none;
    padding: 0;
    font-family: sans-serif;
}

img {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
}

strong {
    font-size: 20px;
}

p {
    margin: 5px 0;
}

footer {
    width: 100%;
}

#footer {
    background-image: url("../imgs/back.png");
    background-color: rgb(41, 40, 40);
    bottom: 0;
    left: 0;
    position: absolute;
    height: 48px;
    border-bottom: 26px solid rgb(41, 40, 40);
    width: 100%;
    z-index: 5000;
    margin: 0;
}


#Footer-conteudo {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}